*{
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#container{
   display: flex;
   flex-wrap: wrap;

}
header, nav, footer{
width: 100%;
}
header, nav, main, aside, footer{
    flex-grow: 1;
    padding: 1rem;
}
header{
    background-color: aquamarine;
}
nav{
    background-color: aqua;

}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color:#BBB;
    min-height: 500px;
    justify-content: space-between;
}
main h2{
    width: 100%;
}
main article{
    width: 30%;
    min-width: 250px;
    flex-grow: 1;
}
aside{
    width: 30%;
    background-color: blueviolet;
}
footer{
    color: #fff;
    background-color: black;
    text-align: center;
}