@use 'colors' as *;
@use 'mixins' as *;

form{
    background-color: $white;
    @include flexbox(colomn, nowrap, 1rem)
    

    @include box(600px, auto, 3rem, 30px);

    inpu{
        @include box(100%, auto, 1rem, 30px );
        padding: 1rem;
        border: 1px solid $black;
    }
}