*{
    
    box-sizing: border-box;
    
}



body {
    font-family: Arial, sans-serif;
  
}


#grid-container{
    display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: auto auto auto auto;
 
    

}

@media (max-width: 768px) {
   #grid-container {
       grid-template-columns: 1fr; /* Single column for smaller screens */
   }

   main, aside {
       grid-column: 1; /* Full width for main and aside */
   }
}
   
header{
   display:grid ;
   grid-column: 1/4;
   grid-row: 1;
   
}

header h1{
    display: flex;
    justify-content: center;
    background: url('picture.jpg') -47px 0;
    padding: 30px;
    margin: 0;
    color: white;
    
}
 nav{
    grid-column: 1/4;
    grid-row: 2;
    
 }

 #container, nav, ul{
   display: flex;
   background-color: burlywood;
   gap: 1rem;
   list-style: none;
 }

 main{
    grid-column: 1/3;
    grid-row: 3;
 }

 main section{
   display: flex;
   padding: 15px;
   margin: 10px;
   gap: 4rem;
 }
 aside{
    grid-column: 3;
    grid-row: 3;
 }

 main aside section nav ul{
   background-color: aquamarine;
 }
 footer{
    grid-column: 1/4;
    grid-row: 4;
 }
 footer{
   display: flex;
   justify-content: center;
   background-color: black;
   color: azure;
 }
 p a{
   color:white;
 }

