*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;

}

header{
    background-image: url("../css/artificial-intelligence-3706562_1280.jpg");
    text-transform: uppercase;
    padding: 5rem;
    text-align: center;
    color: white;
}

  .flex-container{
   display: flex;
    background-color:#b88a2e;
    padding: 10px;
    
    
    
    
}
#container{
    display: flex;
    justify-content: end;
}
header, nav, footer{
    width: 100%;
}


div {
    /*display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;*/
    
}

main, article{
    /*display: grid;
    gap: 5rem;
    padding: 5px;
     border: 2px solid black;
    box-shadow: 10px 10px 20px;
    align-content: space-around;
    align-content: space-between;*/
     
}

 h2{
    display: flex; 
    padding: 5px;
    margin: 5px;      
}
aside section nav ul li{
    display: flex;
    justify-content: center;
    
    
    
    
}

footer, p{
    background-color: black;
    color: whitx;
    padding: 5px;
    color: aliceblue;
    text-align: center;
    
}
aside{
    width: 30%;
    background-color: #ffe4c4;
}

